@import 'common/stylesheet/index.scss';

.calendar {
  width: 350px;
  height: 100%;

  .calendar__head {
    width: 100%;
    display: flex;
    height: 1.5rem;
    justify-content: space-around;
    align-items: center;

    .calendar__btn__prev {
      img {
        width: 20px;
        height: 20px;
        transform: rotate(-90deg);
      }
    }

    .calendar__btn__next {
      img {
        width: 20px;
        height: 20px;
        transform: rotate(-90deg);
      }
    }

    .calendar__month {
      font-size: $font_size-rem;
    }
  }

  .calendar__date {
    margin-top: 10px;
    width: 100%;
    height: 100%;

    .calendar__date__row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .calendar__date__col {
        &:first-child {
          color: red;
        }
      }
    }

    .calendar__date__days {
      padding-bottom: calc(100% / 7);
    }

    .calendar__date__dates {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;

      .calendar__date__col {
        width: 33px;
        height: 33px;
        text-align: center;
        line-height: 33px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: auto;
        margin: auto;
        @include font($font_size-14, $line_height-17);

        &.calendar__date__null {
          background: #fff;
          border: 0 none;
        }

        &.calendar__date__today {
          color: #81cbf5;
        }
      }
    }
  }
}
