@import 'common/stylesheet/index.scss';

.calendar__wrap {
  width: 100%;
  margin: auto;

  div {
    .react-datepicker {
      width: 100% !important;
      border: none !important;
      background-color: $color-secondary;

      .react-datepicker__month-container {
        width: 100%;

        .react-datepicker__header {
          background-color: $color-secondary !important;

          .react-datepicker__current-month {
            font-size: $font_size-rem;
          }
          .react-datepicker__day-name {
            width: 4rem !important;
            height: 4rem !important;
            text-align: center;
            line-height: 4rem;
            font-size: $font_size-rem;
          }
        }

        .react-datepicker__day {
          width: 4rem !important;
          height: 4rem !important;
          line-height: 4rem !important;
          font-size: $font_size-rem;
        }

        .react-datepicker__day--weekend {
          color: red !important;
        }

        .react-datepicker__day--selected {
          color: white !important;
        }
      }
    }
  }
}
