@import 'common/stylesheet/index.scss';

.modal__new__wrap {
  width: 95%;
  height: 3rem;
  text-align: center;
  display: flex;
  margin: auto;
  margin-bottom: 10px;

  .modal__order__name {
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
  }

  .modal__new__item {
    width: 32%;
    margin: auto;
    margin-right: 2%;
  }

  .modal__delete__btn {
    height: 40px;
    line-height: 40px;
    margin: auto;

    img {
      width: 10px;
      height: 10px;
    }
  }
}
