@import 'common/stylesheet/index.scss';

.nav__wrap {
  display: flex;
  list-style: none;
  width: 90%;
  height: 50px;
  background-color: $color-box;
  margin: 0 auto;
  border-radius: 5px;

  .nav__list {
    width: 50%;
    text-align: center;
    font-family: $font-family;
    line-height: 50px;
    margin: 0 auto;

    &:first-of-type {
      margin-left: -5%;
    }

    .on {
      width: 100%;
      background-color: #f4a9a8;
      color: white;
      border-radius: 5px;
    }
  }
}
