@import 'common/stylesheet/index.scss';

.book__wrap {
  width: 90%;
  height: 100vh;
  margin: 0 auto;

  .book__title {
    width: 100%;
    line-height: 50px;
    border-top: 1px solid rgb(238, 239, 241);
    border-bottom: 1px solid rgb(238, 239, 241);
    background-color: $color-secondary;
    font-size: 1.3rem;
    padding-left: 20px;
  }

  .book__container {
    width: 100%;
    margin-top: 20px;
    box-shadow: 8px 5px 5px $color-box;
    padding: 0 20px;
    display: flex;
    text-align: center;
  }
}
