@import 'common/stylesheet/index.scss';

.book__wrap {
  width: 90%;
  height: 100vh;
  margin: 0 auto;

  .book__title {
    width: 100%;
    line-height: 50px;
    border-top: 1px solid rgb(238, 239, 241);
    border-bottom: 1px solid rgb(238, 239, 241);
    background-color: $color-secondary;
    font-size: $font_size-rem;
    padding-left: 20px;
  }

  .book__nickname {
    width: 20%;
    font-size: $font_size-rem;
    line-height: 40px;
    margin: 0 !important;
  }

  .book__list__wrap {
    width: 60%;
  }

  .book__total {
    width: 20%;
    margin: auto;
  }
}
