@import 'common/stylesheet/index.scss';

.book__wrap {
  width: 90%;
  height: 100vh;
  margin: 0 auto;

  .book__title {
    width: 100%;
    line-height: 50px;
    border-top: 1px solid rgb(238, 239, 241);
    border-bottom: 1px solid rgb(238, 239, 241);
    background-color: $color-secondary;
    font-size: $font_size-rem;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
  }

  .book__nickname {
    width: 20%;
    line-height: 40px;
    margin: 0 !important;
  }

  .book__list__wrap {
    width: 60%;
    font-size: 1.5rem;
  }

  .book__total {
    width: 20%;
    font-size: 1.5rem;
    margin: auto;
  }
}
