@import 'common/stylesheet/index.scss';

.store__detail__type {
  display: flex;
  width: 90%;
  margin: 20px auto 0;
  list-style: none;
  padding-left: 0;

  &__li,
  &__on {
    width: 50%;
    border: 1px solid $color-box;
    border-radius: 5px;
    line-height: 3rem;
    text-align: center;
    font-family: $font-family;
    font-size: $font_size-rem;
  }

  &__on {
    color: white;
    background-color: #f4a9a8;
  }
}

.store__detail__title {
  width: 90%;
  margin: 20px auto;
  line-height: $line_height-rem;
  text-align: center;
  border: 1px solid $color-box;
  box-shadow: 8px 5px 5px $color-box;
  background: $color-secondary;
  position: relative;

  &__term {
    width: 100%;
  }

  .detail__title {
    font-size: $font_size-rem;
    line-height: $line_height-rem;
  }

  .store__prev__btn,
  .store__next__btn {
    font-size: 2.5rem;
    line-height: 2.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .store__prev__btn {
    left: 10%;
  }

  .store__next__btn {
    right: 10%;
    margin-top: 3px;
  }
}

.store__detail__list {
  width: 90%;
  margin: auto;

  .store__detail__none {
    margin-top: 20px;
    text-align: center;
  }
}

.store__detail__total {
  width: 90%;
  margin: 20px auto;

  &__wrap {
    float: right;
    width: 200px;
    height: 3rem;
    line-height: 3rem;
    font-size: $font_size-rem;
    border-radius: 5px;
    text-align: center;
  }
}
