@import 'common/stylesheet/index.scss';

.store__detail__title {
  width: 90%;
  margin: 20px auto;
  line-height: $line_height-rem;
  text-align: center;
  border: 1px solid $color-box;
  box-shadow: 8px 5px 5px $color-box;
  background: $color-secondary;
  position: relative;

  .detail__title {
    font-size: $font_size-rem;
    line-height: $line_height-rem;
  }

  .store__prev__btn,
  .store__next__btn {
    font-size: 2.5rem;
    line-height: 2.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .store__prev__btn {
    left: 10%;
  }

  .store__next__btn {
    right: 10%;
    margin-top: 3px;
  }
}

.store__detail__list {
  width: 90%;
  margin: auto;

  .store__detail__none {
    margin-top: 20px;
    text-align: center;
  }
}
