@import 'common/stylesheet/index.scss';

.modal__store__title {
  text-align: center;
}

.modal__store__textarea {
  width: 100%;
  display: flex;
  margin-bottom: 10px;

  .modal__store__two {
    width: 45%;
    margin-left: 3.5%;
  }

  .modal__store__three {
    width: 30%;
    margin-left: 2.5%;
  }

  .modal__address {
    width: 100%;
    height: auto;
    margin: auto;
  }

  .modal__address__detail {
    width: 80%;
    margin: auto;
  }
}
