@import 'common/stylesheet/index.scss';
.store__table {
  margin: auto;
  width: 90%;
  margin-top: 20px;
  padding: 0 20px;
  box-shadow: 8px 5px 5px $color-box;
  border: 1px solid $color-box;

  .store__header {
    background: $color-secondary;
  }

  .store__tr {
    display: flex;
    font-size: $font_size-rem;
    line-height: $line_height-rem;
    padding: 0;

    .store__td {
      width: 17%;
      text-align: center;
      margin: auto;

      &:nth-of-type(3) {
        width: 29%;
      }

      &:last-of-type {
        width: 32%;
      }
    }
  }
  .store__td__more {
    width: 33.333%;
    text-align: center;
    margin: auto;
  }
}
