@import 'common/stylesheet/index.scss';

.order__input {
  border: 1px solid;
  border-radius: 10%;
  line-height: 40px;
  text-align: center;
  width: 30%;
  margin-right: 10px;
}

.order__btn {
  width: 15%;
  margin: auto;

  input {
    width: 100%;
    background-color: $color-box;
    border: 1px solid $color-box;
    border-radius: 10%;
    margin-bottom: 5px;
  }

  button {
    width: 100%;
    background-color: $color-box;
    border: 1px solid $color-box;
    border-radius: 10%;
  }
}
