@import 'common/stylesheet/index.scss';

.modal__store__title {
  text-align: center;
}

.modal__store__textarea {
  width: 100%;
  display: flex;
  margin-bottom: 10px;

  .modal__store__two {
    width: 45%;
    margin-left: 3.5%;
  }

  .modal__store__three {
    width: 30%;
    margin-left: 2.5%;
  }

  .modal__store__error {
    width: 30%;
    margin-left: 2.5%;
    border: 1px solid #ff0000 !important;
    background: rgba(255, 0, 0, 0.1) !important;
  }

  .modal__store__err {
    width: 45%;
    margin-left: 2.5%;
    border: 1px solid #ff0000 !important;
    background: rgba(255, 0, 0, 0.1) !important;
  }

  .modal__description {
    width: 95%;
    margin: auto;
  }
}

.modal__store__address {
  width: 95%;
  border: 1px solid rgb(245, 245, 245);
  margin: 20px auto;
  border-radius: 5px;
  padding: 20px 0;

  .modal__address__wrap {
    display: flex;

    &:first-of-type {
      margin: 0 0 20px 0;
    }

    .modal__store__label {
      width: 12%;
      height: 1.5rem;
      line-height: 1.5rem;
      font-size: 15px;
      margin: auto;
    }

    .modal__address {
      width: 85%;
      height: auto;
      margin: auto;
    }

    .modal__address__detail {
      width: 85%;
      margin: auto;
    }
  }
}

.modal__store__msg {
  width: 100%;
  color: red;
  text-align: center;
  @include font($font_size-18, $line_height-21);
  margin-top: 20px;
  margin-bottom: 20px;
}
