@import 'common/stylesheet/index.scss';

.calendar__date__dates {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;

  .calendar__date__col {
    width: 33px;
    height: 33px;
    text-align: center;
    line-height: 33px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: auto;
    margin: auto;
    @include font($font_size-14, $line_height-17);

    &.calendar__date__null {
      background: #fff;
      border: 0 none;
    }

    &.calendar__date__today {
      color: #81cbf5;
    }
  }
}
