@import 'common/stylesheet/index.scss';

.date__wrap {
  width: 30%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .date__btn {
    color: grey;
    font-size: 3rem;
  }

  .date__container {
    margin-top: 20px;

    .date__container__btn {
      font-size: 1.5rem;
      font-weight: bolder;
      text-align: center;
      line-height: 30px;
      font-family: $font-family;
    }
  }
}
