@import 'common/stylesheet/index.scss';

.modal__title {
  text-align: center;

  div {
    font-weight: bold;
    font-family: $font-family;
  }
}

.modal__order {
  display: flex;
  margin-bottom: 20px;

  Button {
    font-family: $font-family;
    font-weight: bolder;
  }

  &__first {
    width: 45%;
    margin: auto;
    font-family: $font-family;

    .modal__order__date {
      margin-top: 10px;
      width: 100%;
      height: 2.4rem;
      line-height: 2.4rem;
      border: 1px solid rgb(200, 200, 200);
      border-radius: 5px;
    }

    .modal__calendar {
      width: 100%;
    }
  }

  &__item {
    width: 33%;
    margin: auto;
  }

  &__error {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
    border: 1px solid #ff0000 !important;
    background: rgba(255, 0, 0, 0.1) !important;
  }
}

.modal__order__msg {
  width: 100%;
  color: red;
  text-align: center;
  @include font($font_size-18, $line_height-21);
  margin-top: 20px;
  margin-bottom: 20px;
}
